<div class="flex-grid">
    <div class="main-col">
        <div class="game" #gameHost></div>
    </div>
    <div class="col">
        <mat-card *ngIf='!isGameActive'>
            <mat-card-title>Team Configuration</mat-card-title>
            <div>
                <mat-form-field style="width:100%">
                    <mat-label>Home Team Configuration</mat-label>
                    <mat-select [compareWith]='compareConfigs' [(ngModel)]="homeTeamConfig">
                        <mat-option *ngFor="let config of teamConfigs" [value]='config'>
                            {{config.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field style="width:100%">
                    <mat-label>Away Team Configuration</mat-label>
                    <mat-select [compareWith]='compareConfigs' [(ngModel)]="awayTeamConfig">
                        <mat-option *ngFor="let config of teamConfigs" [value]='config'>
                            {{config.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div style="justify-content: flex-end; display: flex;">
                <button mat-raised-button color="primary" (click)='startGame()'>Start</button>
            </div>
        </mat-card>
        <mat-card *ngIf='teamsInfo'>
            <mat-card-title>ScoreBoard</mat-card-title>
            <mat-list>
                <mat-list-item *ngFor="let info of teamsInfo" role="listitem">
                    {{info.teamName}}:{{info.totalTilesDecremented}}</mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>