<!-- TODO: Make this pretty! Bug exists with mat-option not displaying like it should -->
<div id='team-config-ui' *ngIf='game == null'>
    <mat-form-field>
        <mat-label>Home Team Config</mat-label>
        <mat-select [compareWith]='compareConfigs' [(ngModel)]="homeTeamConfig">
            <mat-option *ngFor="let config of teamConfigs" [value]='config'>
                {{config.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Away Team Config</mat-label>
        <mat-select [compareWith]='compareConfigs' [(ngModel)]="awayTeamConfig">
            <mat-option *ngFor="let config of teamConfigs" [value]='config'>
                {{config.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    
    <button mat-raised-button color="primary" (click)='startGame()'>Start</button>
</div>

<div class="game" #gameHost></div>
